{% extends "base.html.twig" %}

{% block title %}Card | MVC{% endblock %}

{% block body %}
<h1>Mina undersidor</h1>
<h3>Länkar till sidorna finns i asiden till höger.</h3>
<ul class="asidenavbar">
    <li><strong>Card Deck</strong> - Visar samtliga kort i kortleken sorterade per färg och värde.</li>
    <li><strong>Card Deck Shuffle</strong> - Visar samtliga kort i kortleken när den har blandats.</li>
    <li><strong>Card Deck Draw</strong> - Drar ett kort från kortleken och visar upp det. Visar även antalet kort som är kvar i kortleken.</li>
</ul>

<h1>Mina klasser</h1>
<ul class="asidenavbar">
    <li><strong>Card</strong> - Grundklassen. Representerar ett spelkort. 
        Innehåller metoder för att hämta färg och valör.</li>
    <li><strong>CardGraphic</strong> - Ärver från Card. Ger spelkortet ett utseende.</li>
    <li><strong>CardHand</strong> - En korthand som kan innehålla ett godtyckligt antal kort.</li>
    <li><strong>DeckOfCards</strong> - Representerar hela kortleken. Skapar kortleken när objektet skapas.
        Har metoder för att hantera kortleken. Till exempel blanda, dra kort, räkna återstående kort.</li>
</ul>

{% endblock %}
{% block aside %}
    <aside>
    <h1>Länkar</h1>
        <h2>Undersidor</h2>
        <ul class="asidenavbar">
            <li><a href="{{ path('card_deck') }}">Card Deck</a></li>
            <li><a href="{{ path('card_deck_shuffle') }}">Card Deck Shuffle</a></li>
            <li><a href="{{ path('card_deck_draw') }}">Card Deck Draw</a></li>
        </ul>
        <h2>API</h2>
        <ul class="asidenavbar">
            <li><a href="{{ path('api_deck') }}">Card Deck</a></li>
            <li><a href="{{ path('api_deck_shuffle') }}">Card Deck Shuffle</a></li>
            <li><a href="{{ path('api_deck_draw') }}">Card Deck Draw</a></li>
        </ul>
    </aside>
{% endblock %}