{% extends "base.html.twig" %}

{% block title %}Deck | MVC{% endblock %}

{% block body %}
    <h1>Deck</h1>
    <h3>Sorterad per färg och värde.</h3>
    <p>
        <a href="{{ path('card') }}">Tillbaka</a> |
        <a href="{{ path('card_deck_shuffle') }}">Blanda kortleken</a>
        <a href="{{ path('card_deck_draw') }}">Dra ett kort</a>
    </p>
    
    <div class="deck-container">
        {% for card in cards %}

        <span class="card-box {{ card.getColor() }}">
            {{ card.getUnicode() }}
        </span>

        {% endfor %}
    </div>

    <p><a href="{{ path('card') }}">Tillbaka</a></p>
{% endblock %}